@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap");

:root {
    /* colores del proyecto*/
    --main-color: #0a3871;
    --secondary-color: #ffffff;
    --terciary-color: #f3f5fc;
    --terciary-color-2: #495057;
    --terciary-color-3: #343a40;
    --terciary-color-4: #d8dfe8;

    /* texto del proyecto */
    --main-font: "Dosis", sans-serif;
}
* {
    padding: 0;
    margin: 0;
}

.header__section {
    background-color: var(--terciary-color);
    height: 8rem;
    width: auto;
}
.header_section__icon {
    margin: 2.5rem;
}

.proyecto {
    height: auto;
    width: auto;
    box-sizing: border-box;
    background-color: var(--terciary-color);
    display: flex;
}

.codificador {
    margin-left: 15rem;
    margin-right: 8rem;
    display: flex;
    flex-direction: column;
}

.codificador__caja {
    font-family: var(--main-font);
    font-size: 2em;
    width: 42.5rem;
    height: 44.25rem;
    resize: none;
    background-color: var(--terciary-color);
    color: var(--main-color);
    border: none;
}

.codificador__caja:focus {
    outline: none;
}
/* Aquí debe ir algo que haga que no aparezca la caja de texto cuando se escriba en ella,
debe ser un tipo de clic como hoover(?) maybe*/

.codificador__etiqueta {
    font-family: var(--main-font);
    font-size: 1.2em;
    flex-direction: column;
    margin-top: 0.5rem;
}

.botones {
    display: flex;
    justify-content: space-between;
}

.botones__style {
    padding: 1.5rem;
    margin-top: 1rem;
    width: 20.5rem;
    font-family: var(--main-font);
    font-size: 1.5em;
    border-radius: 1.5rem;
}

.boton-1 {
    background-color: var(--main-color);
    color: var(--secondary-color);
    border: none;
}

.boton-2 {
    background-color: var(--terciary-color-4);
    border: 2px solid var(--main-color);
    color: var(--main-color);
}
.desencriptar {
    height: 53.5rem;
    width: 25rem;
    background-color: var(--secondary-color);
    border-radius: 2rem;
    margin-bottom: 2.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.desencriptar__mensaje {
    margin: 2rem;
    width: 80%;
    border: none;
    resize: none;
}

.desencriptar__mensaje:focus {
    outline: none;
}

.desencriptar__segundaArea {
    box-sizing: content-box;
    display: flex;
}
.desencriptar__img {
    margin: 0 2rem 2rem;
    height: auto;
    width: auto;
}

.desencriptar__subtitulo {
    font-family: var(--main-font);
    font-size: 2.1rem;
    color: var(--terciary-color-3);
    text-align: center;
}

.desencriptar__parrafo {
    font-family: var(--main-font);
    font-size: 1.5em;
    text-align: center;
    color: var(--terciary-color-2);
    padding: 1rem;
}

.desencriptar__2 {
    height: 53.5rem;
    width: 25rem;
    background-color: var(--secondary-color);
    border-radius: 2rem;
    margin-bottom: 2.5rem;
    box-sizing: content-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.desencriptar__2_texto {
    font-family: var(--main-font);
    color: var(--terciary-color-2);
    font-size: 1.6em;
    margin: 2rem 2.5rem;
    height: 79%;
}
.desencriptar__2_boton {
    background-color: var(--secondary-color);
    margin: 2rem;
}

.foot {
    padding: 1.5rem;
    text-align: center;
    height: auto;
    width: 100%;
    background-color: var(--main-color);
    color: var(--secondary-color);
    font-family: var(--main-font);
    font-size: 1rem;
}
