@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap");

:root {
    /* colores del proyecto*/
    --main-color: #65558f;
    --secondary-color: #ffffff;
    --terciary-color: #f3f5fc;

    /* texto del proyecto */
    --main-font: "Dosis", sans-serif;
}
* {
    padding: 0;
    margin: 0;
}

.header__section {
    background-color: var(--terciary-color);
}
.header_section__icon {
    margin: 2.5rem;
}

.proyecto {
    height: 38rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    background-color: var(--terciary-color);
}

.codificador {
    margin-left: 15rem;
    width: 57.5rem;
}

.codificador__caja {
    font: var(--main-font);
    font-size: 2rem;
    max-width: 100%;
    height: 25rem;
}

.desencriptar {
    height: 35rem;
    width: 25rem;
    background-color: var(--secondary-color);
    border-radius: 2rem;
}

.foot {
    padding: 1.5rem;
    text-align: center;
    height: 1.5rem;
    background-color: var(--main-color);
    color: var(--secondary-color);
    font: var(--main-font);
}
